* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

body {
    background: rgb(34, 34, 34);
    color: white;
    height: 100vh;
    overflow: hidden;
}

.present-menu {
    display: flex;
    justify-content: center;
    /* Центрирование по горизонтали */
    align-items: center;
    /* Центрирование по вертикали */
    flex-direction: column;
    width: 1918px;
    border: 1px solid green;
    height: 964px;
}

.teambuilder-menu{
    width: 1918px;
    height: 720px;
    border: 1px solid green;
}
.team button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: white;
    margin-right: 8px;
}

.team {
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-pokemon {
    border: 1px solid purple;
    width: 960px;
    height: 640px;
    font-size: 12px;
}


.butsbut {
    color: #dadada;
    font-weight: bold;
    margin-left: 31px;
    margin-right: 31px;
    border: 1px solid #ffa500;
    border-radius: 5px;
    background-color: #535353;
}

.buts {
    display: flex;
    /* Устанавливаем блочный тип */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 360px;
}

.opponent-team-but button,
.player-team-but button {
    width: 150px;
    height: 45px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.opponent-team-but {
    margin-top: 10px;
}

.player-team-but {
    margin-top: -10px;
}

.play {
    font-size: 16px;
    border-radius: 8px;
    width: 160px;
    height: 50px;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 1s ease;
}

.buts button:hover {
    background-color: #777777;
    transform: scale(1.1);
}

input {
    background-color: #0f0f12;
    color: #ccc;
    border-radius: 5px;
}