

::-webkit-scrollbar {
    border-radius: 16px; /* Скругление углов полосы прокрутки */
    width: 14px; /* Ширина полосы прокрутки */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(92, 92, 92); /* Цвет полосы прокрутки */
    border-radius: 8px; /* Скругление углов полосы прокрутки */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Цвет фона для трека прокрутки */
}

/* Для браузеров Microsoft (например, Microsoft Edge) */
::-ms-scrollbar {
    border-radius: 5px; /* Скругление углов полосы прокрутки */
    width: 14px; /* Ширина полосы прокрутки */
}

::-ms-scrollbar-thumb {
    background-color: #424242; /* Цвет полосы прокрутки */
    border-radius: 15px; /* Скругление углов полосы прокрутки */
}

::-ms-scrollbar-track {
    background-color: transparent; /* Цвет фона для трека прокрутки */
}

@media (min-width: 320px){
    
    ::-webkit-scrollbar {
        width: 8px; 
    }
}
@media (min-width: 560px){
    
    ::-webkit-scrollbar {
        width: 10px; 
    }
    }
@media (min-width: 960px){
    
::-webkit-scrollbar {
    width: 12px; 
}
}