* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

body {
    color: white;
    overflow: hidden;
}

main {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    height: 100vh;
}

.boosted {
    color: #51a151;
}


.decreased {
    color: #ff5647;
}
#pokepaste {
    display: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
}
#pokepaste-save{
    color: white;
    position: absolute;
    right: 2.5%;
    height: 30px;
    width: 50px;
    opacity: 0.8;
    border-radius: 12px;
    border: 1px solid gray;
    transition: 0.3s;
    background: transparent;
}
#pokepaste-save:hover{
    opacity: 1;
}
#playerteam-input-text , #opponentteam-input-text {
    border: none;
    width: 100%;
    padding-top: 4px;
    padding-left: 6px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 99%;
    max-width: 99%;
    font-size: 10px;
    background-color: #0f0f12;
    color: #ccc;
}

.pokemon-icon{
    image-rendering: pixelated;
}

.pokemon-info>div {
    margin-bottom: 5px;
}

.pokemon-info-item {
    image-rendering: pixelated;
    display: block;
    width: 24px;
    height: 24px;
}


.pokemon-info-sprite {
    display: flex;
    width: 150px;
    box-sizing: border-box;
    padding: 4px;
    image-rendering: pixelated;
    min-width: 150px;
    min-height: 150px;
}

.pokemon-info-sprite>div {
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.hover-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.present-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.teambuilder-menu{
    width: 980px;
    height: 100%;
}

#team-points-value{
    width: 100px;
    text-align: center;
}

.right-menu{
    height: auto;
    overflow-y: scroll;
    z-index: 0;
    width: 100%;
}

.team button:not(.current-pokemon-choice), #build-button, #save-build-button{
    opacity: 0.8;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 60px;
    color: white;
    position: relative;
    border-radius: 10px;
    background-color: rgb(97,97,97, 0.1);
    margin-right: 4px;
    transition: 0.3s;
    font-weight: 500;
}
#build-button:hover, #save-build-button:hover{
    opacity: 1;
    transform: translateY(-2px);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}
.team button:not(.current-pokemon-choice):hover {
    opacity: 1;
    background-color: rgb(85, 85, 85, 0.5);
    transform: translateY(-2px);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.team {
    position: relative;
    z-index: 3;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-top: 8px;
    padding-bottom: 8px;
}

.current-pokemon-choice {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 60px;
    color: white;
    position: relative;
    border-radius: 16px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #4d4d4d;
    margin-right: 4px;
    transition: 0.3s;
    transform: translateY(8px);
}


.current-pokemon {
    position: relative;
    z-index: 3;
    border-top-left-radius: 0;
    width: 1010px;
    height: 200px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png);
    border-radius: 12px;
}

#current-pokemon-points{
    position: relative;
    right: 16px;
    padding: 4px 8px;

    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.current-pokemon-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    margin-left: 1%;
}

#build-button,  #save-build-button{
    width: 60px;
    height: 80%;
}
#save-build-button{
    display: none;
    width: 100px;
}

.vertical-line {
    width: 2px; /* Ширина палки */
    height: 50%; /* Высота палки */
    background-color: #4d4d4d; /* Цвет палки */
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
  }
input {
    background-color: #0f0f12;
    color: #ccc;
    border-radius: 5px;
}


select {
    background-color: #0f0f12;
    color: #ccc;
    border-radius: 5px;
    width: 180px;
}

main input, select {
    border: 1px solid #4d4d4d;
    color: white;
    background-color: #2e2e2e;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 24px;
    border-radius: 32px;
}



select{
    padding: 0px 6px;
}

.evs input, .ivs input {
    padding: 0px 6px;
}

.evs{
    display: flex;
    flex-direction: column;
}

.evs div{
    display: flex;
    flex-direction: row;
}

.current-pokemon-stats input, .current-pokemon-stats p, .current-pokemon-stats h3{
    width: 50px;
    height: 22px;
    transition: 0.3s;

}
.current-pokemon-stats h3{
    width: 40px;
}

.text-input-panel{
    display: flex;
    justify-self: flex-end;
}


.current-pokemon-stats p, .current-pokemon-stats h3{
    text-align: right;
    height: 24px;
    line-height: 24px; /* Выравнивание по центру по вертикали */
}
.evs input{
    width: 42px;
}

.ivs input {
    width: 34px;
}

.current-pokemon-stat-values{
    margin-right: 8px;
}

.current-pokemon-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-with-icon {
    padding-right: 30px; /* Добавляем отступ справа для размещения иконки */
    position: relative; /* Добавляем относительное позиционирование для псевдоэлемента */
}

.input-with-icon::after {
    content: url('img/pokeball.gif'); /* Подставьте путь к вашей картинке */
    position: absolute; /* Абсолютное позиционирование для иконки */
    top: 50%; /* Позиционируем иконку по вертикали посередине */
    right: 5px; /* Отступ справа */
    transform: translateY(-50%); 
}

.current-pokemon-top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 18%;
}

.current-pokemon-top-start{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
}

.current-pokemon-top-start input {
    border: 1px solid #4d4d4d;
    color: white;
    background-color: #2e2e2e;
    padding: 0px 6px;
    transition: 0.3s;
    width: 140px;
    height: 70%;
}

.current-pokemon .moves span, .current-pokemon-top span {
    color: white;
    background-color: transparent;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    transition: 0.3s ease;
    margin-bottom: 8px;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.current-pokemon .moves span img{
    margin-left: 2px;
}
.current-pokemon-top span {
    width: 160px;
}


.current-pokemon .moves input {
    border: 1px solid #4d4d4d;
    color: white;
    background-color: #2e2e2e;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    height: 26px;
    padding: 0px 6px;
    width: 140px;
}


.current-pokemon img,  .current-pokemon-top img{
    height: 24px;
}



.current-pokemon-top img{
    left: 0px;
}

.current-pokemon-add-info input , .current-pokemon-add-info select{
    width: 144px;
    height: 24px;
    padding: 0px 6px;
}
.current-pokemon-add-info input{
    height: 22px;
}
.current-pokemon-add-info .types {
    color: white;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 32px;
}
.current-pokemon-add-info input{
    width: 132px;
    padding: 0px 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 150px;
    height: 12px;
    background: #d3d3d3;
    outline: none;
    border-radius: 10px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #2e2e2e;
    border-radius: 50%;
    cursor: pointer;
  }

.evs-ranges > div{
    height: 24px;
    display: flex;
    align-items: center;
}


.current-pokemon-add-info > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 8px;
}

.current-pokemon-add-info label{
    width: 50px;
    text-align: right;
}



.teambuilder-results {
    z-index: 1;
    position: absolute;
    top: 347px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 980px;
    padding: 2px 0px 10px 0px;
}

.teambuilder-results ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow-y: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.result {
    font-size: 14px;
    width: 950px;
    height: 32px;
}

.current-result {
    background-color: #535353;
}

.result a {
    opacity: 0.9;
    height: 30px;
    display: flex;
    width: 930px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.25s;
    border-color: black;
    font-size: 12px;
    padding: 10px;
    border:1px solid transparent;
}

.result a:hover{
    opacity: 1;
    background-color: #535353;
    border:1px solid #535353;
}

.teambuilder-results li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    clear: both;
    word-wrap: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    
}

.teambuilder-results li:has(h3) {
    height: 24px;
}

.result-pokemon-icon{
    width: 50px;
    display: flex;
    justify-content: center;
}

.result-pokemon-types {
    width: 100px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
 }

.result-pokemon-types img{
   width: 24px;
}

.result-pokemon-name {
    width: 200px;
    text-align: left;
}

.result-item-desc{
    width: 720px;
    text-align: left;
}

.result-move-desc{
    width: 430px;
    text-align: left;
}

.result-move-power{
    width: 60px;
    text-align: center;
}

.result-move-pp{
    width: 50px;
    text-align: center;
}

.result-move-acc{
    width: 60px;
    text-align: center;
}

.result-move-cat{
    width: 60px;
    text-align: center;
}

.result-move-type{
    width: 40px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
}


.result-pokemon-stat, .result-pokemon-bst, .result-pokemon-bst-sort, .result-pokemon-stat-sort  {
    width: 36px;
    text-align: center;
}
.result-pokemon-abilities-sort  {
    width: 320px;
}
.result-pokemon-types-sort  {
    width: 120px;
}

.result-pokemon-name-sort  {
    width: 250px;
}

.result-pokemon-abilities, .result-pokemon-ha {
    width: 170px;
    text-align: center;
}

.result-sort {
    background-color: #2e2e2e;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.result-sort button{
    border: none;
    height: 100%;
    font-size: 12px;
    background-color: #2e2e2e;
    color: white;
    border-radius: 4px;
    transition: 0.3s;
}
.result-sort button:hover{
    cursor: pointer;
    background-color: gray;
}


.result h3 {
    width: 100%;
    background: #636363;
    color: #f1f1f1;
    border: 1px solid #a9a9a9;
    text-shadow: 1px 1px 0 #282b2d;
    box-shadow: inset 0 1px 0 #313131;
    border-right: none;
    margin: 0 0 0 -1px;
    padding: 3px 8px;
    font-family: Verdana,sans-serif;
    font-size: 10pt;
}



.item-info > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 144px;
}
.item-info input {
    width: 98px;
}

.item-info > span > span {
    position: relative;
}

#buttons button {
    height: 30px;
}
.teams {
    border-radius: 16px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(img/bg3.jpg);
    background-size: 1000px 100%;
    position: absolute;
    transition: 0.5s;
    z-index: 10;
    top: 71px;
    left: -375px;
    right: 0;
    bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5); 
}

#teamsContent {
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams h4{
    height: 30px;
    line-height: 30px;
}
#clearteams{
    position: relative;
    bottom: 0;
    padding: 0 8px;
    border-radius: 16px;
    background-color: #535353;
    color: white;
    height: 28px;
    margin-top: 4px;
    margin-bottom: 8px;
    opacity: 0.8;
    border: 1px solid transparent;
    transition: 0.3s;
    box-shadow: black 1px 1px 1px 0.5px;
    align-items: center;
}
#clearteams:hover{
    border: 1px solid gray;
    opacity: 1;
    cursor: pointer;
}

.teams--show{
    left: 0;
}
.build-result {
    height: 150px;
    max-height: 150px;
    min-height: 150px;
}

.build-result-left div p, .build-result-right div p {
    height: 24px;
    line-height: 24px;
    text-align: left;
}

.build-result-left div > span:not(.slash), .build-result-right div > span:not(.slash) {
    height: 24px;
    text-align: left;
}
.build-result-left > span > span:not(.slash), .build-result-right > span > span:not(.slash) {
    height: 24px;
    text-align: left;
}


.current-pokemon-builds{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    overflow-y: scroll;
    background-color: rgb(65, 65, 65);
    width: 980px;
    max-height: 60%;
    top: -100%;
    border-radius: 16px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5); 
}

.current-pokemon-builds-show {
    box-shadow: none; 
    top: 346px;
    opacity: 1;
    visibility: visible;
}

.slash {
    margin: 0px 8px;
}
@media (max-height: 800px) and (orientation: landscape) {
    .current-pokemon-builds {
        bottom: 0;
    }
}

.type-icon {
    width: 24px;
}

.current-pokemon-builds .type-icon  {
    scale: 0.7;
    width: 24px;
    margin-right: 8px;
}



.build-content {
    height: 100%;
    width: 100%;
    display: flex;
}
.build-result .build-top{
    height: 30%;
}

@media (max-width: 960px){
    .right-menu{
        display: none;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        top: 50%;
    }
    .right-menu table tbody, .right-menu table thead{
        display: flex;
        flex-wrap: wrap;
    }
    .right-menu table tbody tr {
        border: none;
        display: table-column;
        width: 45px;
        height: 100%;
        flex-wrap: wrap;
    }
    .right-menu table thead {
        display: none;
    }
    .right-menu table tbody tr td {
        border: none;
        width: 100%;
        height: 33%;
        flex-direction: column;
    }
    .build-content {
        height: 100%;
        width: 100%;
        display: flex;
    }
    

    .current-pokemon-builds .type-icon {    
        scale: 0.4;
        margin-right: 0;
    }
    
    .slash {
        margin: 0px 4px;
    }
    .current-pokemon-builds-show {
        top: 252px;
    }
    #build-button:hover, #save-build-button:hover{
        transform: translateY(-2px);
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    #teamsbutton{
        display: none;
    }
    .teambuilder-menu{
        width: 100%;
        height: 100%;
    }
    .teambuilder-results {
        top: 218px;
    }

    .teams {
        top: 62px;
        left: -100%;
    }
    .teams--show{
        left: 0;
    }
    .team{
        font-size: 8px;
        padding-top: 4px;
    }
    .team button:not(.current-pokemon-choice),#pastebutton{
        font-size: 6px;
        width: 10%;
    }
    #save-build-button, #build-button {
        font-size: 6px;
    }

    .team button:not(.current-pokemon-choice){
        border-radius: 12px;
        height: 50px;
    }

    .team button:not(.current-pokemon-choice):hover{
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        height: 50px;
    }

    .team .current-pokemon-choice {
        height: 50px;
    }
    
    .current-pokemon-choice {
        font-size: 6px;
        width: 10%;
    }
    .current-pokemon{
        width: 100%;
        font-size: 6px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 120px;
    }



    .current-pokemon input, select{
        font-size: 8px;
    }
    .current-pokemon-add-info select, .current-pokemon-add-info input{
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .current-pokemon-add-info {
        height: 100%;
    }

    .current-pokemon-add-info input{
        padding: 0px 4px;
    }
    .current-pokemon-add-info label {
        width: 0%;
        display: none;
    }
    .item-info > span {
        width: 100%;
        height: 12px;
    }
    .current-pokemon-add-info > div{
        height: 15%;
        margin-bottom: 4px;
        margin-top: 4px;
    }
    .current-pokemon-add-info .types {
        width: 100%;
    }
    .current-pokemon-add-info{
        width: 25%;
    }
    .item-info {
        height: 100%;
    }
    .item-info .item{
        width: 70%;
    }
    .pokemon-info-item{
        scale: 0.7;
    }
    .moves{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        height: 100%;
    }
    .current-pokemon .moves span{
        width: 100%;
        height: 20%;
        margin: 0;
    }
    
    .current-pokemon img{
        height: 12px;
    }
    .current-pokemon .moves input{
        width: 75%;
        height: 75%;
    }
    
    .result-move-type, .result-move-type img{
        height: 12px;
        width: 12px;
    }

    .current-pokemon-stats{
        width: 20%;
    }
    .current-pokemon-stats p, .current-pokemon-stats h3 {
        text-align: right;
        height: 16px;
        line-height: 15px;
        width: 30px;
    }

    .vertical-line{
        display: none
    }

    .current-pokemon .pokemon-info-sprite{
        width: 80px;
        min-width: 80px;
        min-height: 80px;
    }

    .evs, .evs-ranges, .ivs{
        display: none;
    }

    .teambuilder-results{
        width: 100%;
        font-size: 8px;
    }
    .result-pokemon-name{
        font-size: 8px
    }
    .result-pokemon-stat, .result-pokemon-bst{
        font-size: 6px
    }
    .result-pokemon-types {
        scale: 0.5;
    }

    
    .result-pokemon-icon{
        scale: 0.5;
    }

    .team .pokemon-icon {
        scale: 0.9;
    }
    
    .result {
        width: 100%;
        height: 18px;
    }
    .result a {
        width: 98%;
        font-size: 7px;
        height: 100%;
        border-radius: 10px;
    }
    .result h3{
        height: 10px;
        font-size: 6pt;
    }
    #playerteam-input-text , #opponentteam-input-text {
        font-size: 8px;
    }
    
    #buttons button {
        width: 30px;
    }
    .teams{
        width: 100%;
    }

    .build-result{
        font-size: 8px;
    }
    .build-name{
        font-size: 10px;
    }
    .current-pokemon-builds{
        width: 100%;
        left: 0;
    }
}

@media (min-width: 1000px){
    
    .current-pokemon{
        width: 980px;
        width: none;
        font-size: 12px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .teambuilder-results{
        width: 980px;
    }
    .result a {
        width: 99%;
        font-size: 12px;
        height: 30px;
    }
    .result-pokemon-name{
        font-size: 14px
    }
    .result-pokemon-stat, .result-pokemon-bst{
        font-size: 11px
    }
    .result-pokemon-icon {
        scale: none;
    }
    .result-pokemon-types{
        scale: none;
    }
    .result {
        width: 100%;
        height: 32px;
    }
    #playerteam-input-text , #opponentteam-input-text {
        font-size: 14px;
    }
}

@media (min-width: 1355px){
    .teams {
        padding-top: 0;
    }
    .teams h4{
        height: 76px;
        line-height: 76px;
    }
}





.data-team {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 270px;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.3s;
    border-color: black;
    padding: 2px;
    background-color: #535353;
    border: 1px solid transparent;
    margin-bottom: 2px;
    opacity: 0.9;
}

.data-team h5{
    width: 28px;
    text-align: center;
}

.data-team:hover{
    opacity: 1;
    border: 1px solid gray;
}

.team-delete-button {
    margin-left: 8px;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    border: none;
    background-color: #535353;
    background-image: url(img/x.png);
    background-size: 20px;
    transition: 0.3s;
    opacity: 0.4;
    box-shadow: black 1px 1px 1px .5px;
}

.team-delete-button:hover{
    scale: 1.1;
    opacity: 0.7;
    cursor: pointer;
}

.team-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2px;
}


#new-team{
    display: flex;
    border-radius: 16px;
    background-color: #535353;
    color: white;
    width: 60%;
    height: 28px;
    margin-top: 4px;
    opacity: 0.8;
    border: 1px solid transparent;
    transition: 0.3s;
    box-shadow: black 1px 1px 1px .5px;
    align-items: center;
}

#new-team input {
    height: 100%;
    padding: 0 0px 0px 4px;
    width: 20%;
    border-top: none;
    border-bottom: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#new-team button{
    font-weight: bold;
    padding-left: 6px;
    text-align: left;
    color: white;
    width: 100%;
}

#new-team:hover{
    border: 1px solid gray;
    opacity: 1;
    cursor: pointer;

}


.build-result {
    padding-bottom: 8px;
    background-color:#252525;
    width: 95%;
    border: 1px solid #252525;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: 0.3s;
}

.build-result:hover{
    box-shadow: rgba(255, 255, 255, 0.137) 0px 2px 16px 0px;
}



.build-result-left, .build-result-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.build-result-left{
    width: 45%;
}

.build-result-right {
    width: 55%;
}

.build-result-left > div, .build-result-right > div {
    display: flex;
    flex-direction: column;
}
.build-result-right > div{
    width: 75%;
}

.build-result-right div:first-child {
    width: 25%;
}

.build-result-left div:not(:first-child) {
    width: 100%;
}


.build-result-left > div:first-child p, .build-result-right div:first-child p {
    text-align: right;
    margin-right: 8px;
    font-size: 90%;
    opacity: 0.9;
}

.current-pokemon-builds li {
    width: 100%;
    display: flex;
    justify-content: center;
}

.build-top{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background: transparent;
    cursor: pointer;
    width: 100%;
    border-radius: 32px;
    border: none;
    transition: 0.3s;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.025); 
}

.build-name {
    font-weight: bold;
    width: 30%;
}

.choice-build-element{
    border-radius: 10%;
    box-shadow: rgb(117, 117, 117) 0px 2px 1px 0px;
}

.build-item{
    display: flex;
    align-items: center;
}


.build-select-item {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

td{
    display: flex;
    align-items: center;
    width: 33%;
    justify-content: center;
    font-size: 14px;
    height: 50%;
    font-weight: bold;
    transition: 0.3s
}

th {
    width: 120px;
}

.teams{
    background: rgb(34, 34, 34, 0.99);
}


tr{
    background: rgb(34, 34, 34, 0.9);
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    margin-bottom: 2px;
    border-radius: 12px;
    display: flex;
    height: 40px;
    align-items: center;
    width: 100%;
}
thead tr{
    border: none;
}


.new-build-menu{
    width: 375px;
    height: 320px;
    border: 1px solid purple;
    border-radius: 16px;
}

.current-pokemon-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.current-pokemon-top-start {
    align-self: flex-start; 
}

.pokemon-info-item::after {
    position: relative;
    content: attr(data-title);
    position: absolute;
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(36, 36, 36);
    border-radius: 8px;
    padding: 4px 8px;
    transition: opacity 0.3s; 
    opacity: 0;
    transform: translateY(28px) translateX(-10px); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 1); 
    visibility: hidden;
}



.pokemon-info-item:hover::after {
    opacity: 1;
    visibility: visible;
}

.tooltip {
    position: absolute;
    z-index: 11;
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    max-width: 20%;
    max-height: 100px;
    content: attr(data-title);
    background-color: rgb(51, 51, 51);
    border: 1px solid rgb(36, 36, 36);
    border-radius: 12px;
    padding: 4px 8px;
    transition: opacity 0.3s; 
    opacity: 0;
    margin-top: 5px;
    margin-left: -5%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 1); 
    visibility: hidden;
}
.tooltip span{
    display: flex;
    align-items: center;
}
.points-add-value{
    padding: 6px 8px;
}

.points-add-value:hover .tooltip {
    opacity: 1;
    visibility: visible;
}


.result-filters{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 4px;
}


#tab-buttons{

    margin: 0;
    display: none;
    flex-direction: row;
}

#tab-buttons button{
    width: 80px;
    border: none;
    height: 50px;
    padding: 4px;
    transition: 0.3s;
    background-color: rgb(97, 97, 97);
    border-radius: 8px;
}   
#tab-buttons button:hover{
    background-color: rgb(85, 85, 85);
}  

#current-tab {
    background-color: rgb(91, 91, 91);
}