

.normal {
    background: #f0f0eb;
    background: linear-gradient(to bottom, #f0f0eb, #cccabf);
    border-color: #bdbda8;
}

.grass {
    background: #ebf3e8;
    background: linear-gradient(to bottom, #ebf3e8, #abc99c);
    border-color: #abc99c;
}

.fire {
    background: #f4ece6;
    background: linear-gradient(to bottom, #f4ece6, #d1ad94);
    border-color: #d1ad94;
}

.water {
    background: #e8ebf2;
    background: linear-gradient(to bottom, #e8ebf2, #9caac9);
    border-color: #9caac9;
}

.electric {
    background: #f4f2e6;
    background: linear-gradient(to bottom, #f4f2e6, #d2c593);
    border-color: #d2c593;
}

.psychic {
    background: #f3e7eb;
    background: linear-gradient(to bottom, #f3e7eb, #cc99a8);
    border-color: #cc99a8;
}

.poison {
    background: #f3e8f3;
    background: linear-gradient(to bottom, #f3e8f3, #c99cc9);
    border-color: #c99cc9;
}

.dragon {
    background: #eae6f4;
    background: linear-gradient(to bottom, #eae6f4, #a695d0);
    border-color: #a695d0;
}

.ice {
    background: #eaf0f0;
    background: linear-gradient(to bottom, #eaf0f0, #a7bebe);
    border-color: #a7bebe;
}

.bug {
    background: #f3f5e6;
    background: linear-gradient(to bottom, #f3f5e6, #ccd392);
    border-color: #ccd392;
}

.rock {
    background: #f3f1e7;
    background: linear-gradient(to bottom, #f3f1e7, #cdc398);
    border-color: #cdc398;
}

.ground {
    background: #f2efe8;
    background: linear-gradient(to bottom, #f2efe8, #c7bc9e);
    border-color: #c7bc9e;
}

.flying {
    background: #ebeaf1;
    background: linear-gradient(to bottom, #ebeaf1, #aba3c2);
    border-color: #aba3c2;
}

.fighting {
    background: #f4e7e6;
    background: linear-gradient(to bottom, #f4e7e6, #d19794);
    border-color: #d19794;
}

.ghost {
    background: #ece9f1;
    background: linear-gradient(to bottom, #ece9f1, #aea2c3);
    border-color: #aea2c3;
}

.dark {
    background: #f0edea;
    background: linear-gradient(to bottom, #f0edea, #c0b0a5);
    border-color: #c0b0a5;
}

.steel {
    background: #ececee;
    background: linear-gradient(to bottom, #ececee, #aeaeb7);
    border-color: #aeaeb7;
}

.fairy {
    background: #f4e6f2;
    background: linear-gradient(to bottom, #f4e6f2, #d293c7);
    border-color: #d293c7;
}
