.moves-menu button{
    border-radius: 64px;
    height: 56px;
    width: 220px;

    border: none;
    border: 1px solid white;
    box-shadow: none;
    font-size: 14px;
}

.normal {
    background: linear-gradient(to bottom, #F1F1C1, #A8A878); /* светлый желтый с зеленоватым оттенком */
    border-color: #A8A878;
}

.grass {
    background: linear-gradient(to bottom, #C6E1B0, #78C850); /* светлый зелёный с ярким зелёным */
    border-color: #78C850;
}

.fire {
    background: linear-gradient(to bottom, #FF9F7F, #F08030); /* яркий оранжевый */
    border-color: #F08030;
}

.water {
    background: linear-gradient(to bottom, #82C9FF, #6890F0); /* светлый голубой с ярким синим */
    border-color: #6890F0;
}

.electric {
    background: linear-gradient(to bottom, #FFF96B, #F8D030); /* яркий жёлтый с насыщенным жёлтым */
    border-color: #F8D030;
}

.psychic {
    background: linear-gradient(to bottom, #F8A1A1, #F85888); /* светло-розовый с ярким розовым */
    border-color: #F85888;
}

.poison {
    background: linear-gradient(to bottom, #E0A6E1, #A040A0); /* нежно-фиолетовый с насыщенным фиолетовым */
    border-color: #A040A0;
}

.dragon {
    background: linear-gradient(to bottom, #D3B4E6, #7038F8); /* светлый фиолетовый с глубоким фиолетовым */
    border-color: #7038F8;
}

.ice {
    background: linear-gradient(to bottom, #C8D9D9, #98D8D8); /* светлый голубой с ярким бирюзовым */
    border-color: #98D8D8;
}

.bug {
    background: linear-gradient(to bottom, #D3D686, #A8B820); /* светлый оливковый с ярким зелёным */
    border-color: #A8B820;
}

.rock {
    background: linear-gradient(to bottom, #E3D3A4, #B8A038); /* светлый песочный с тёмным желтым */
    border-color: #B8A038;
}

.ground {
    background: linear-gradient(to bottom, #D6C094, #E0C068); /* светлый коричневый с насыщенным желтым */
    border-color: #E0C068;
}

.flying {
    background: linear-gradient(to bottom, #B7A8D9, #A890F0); /* светлый фиолетовый с ярким синим */
    border-color: #A890F0;
}

.fighting {
    background: linear-gradient(to bottom, #E4B0A3, #C03028); /* светло-красный с насыщенным красным */
    border-color: #C03028;
}

.ghost {
    background: linear-gradient(to bottom, #D0C5E8, #705898); /* светлый фиолетовый с глубоким фиолетовым */
    border-color: #705898;
}

.dark {
    background: linear-gradient(to bottom, #D5C7B4, #705848); /* светлый коричневый с тёмным коричневым */
    border-color: #705848;
}

.steel {
    background: linear-gradient(to bottom, #B7B9B7, #A7AEB7); /* светло-серый с нейтральным серым */
    border-color: #A7AEB7;
}

.fairy {
    background: linear-gradient(to bottom, #F1C0D1, #EE99AC); /* светлый розовый с ярким розовым */
    border-color: #EE99AC;
}


.type-ice {
    color: #98D8D8;
}
.type-flying {
    color: #A890F0;
}
.type-ground {
    color: #E0C068;
}
.type-normal {
    color: #A8A878;
}
.type-poison {
    color: #A040A0;
}
.type-water {
    color: #6890F0;
}
.type-dark {
    color: #705848;
}
.type-fairy {
    color: #EE99AC;
}
.type-fire {
    color: #F08030;
}
.type-grass {
    color: #78C850;
}
.type-bug {
    color: #A8B820;
}
.type-fighting {
    color: #C03028;
}
.type-rock {
    color: #B8A038;
}
.type-electric {
    color: #F8D030;
}
.type-dragon {
    color: #7038F8;
}
.type-psychic {
    color: #F85888;
}
.type-steel {
    color: #B8B8D0;
}
.type-ghost {
    color: #705898;
}