* {
    font-family: Verdana;
    color: #ddd;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #0e0e0e;
    background-image: url("../img/");
    background-size: cover;
    background-repeat: no-repeat;
}

.row{
    display: flex;
    flex-direction: row;
}
.center{
    display: flex;
    align-items: center;
}

button{
    cursor: pointer;
}

#left-panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    display: flex;
    transition: 0.5s;
    padding: 16px;
}
.pokemon-sprite>div {
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.pokemon-sprite {
    display: flex;
    width: 90px;
    box-sizing: border-box;
    image-rendering: pixelated;
    min-width: 90px;
    min-height: 90px;
    max-width: 90px;
    max-height: 90px;
}

.pokemon-card-name{
    margin-left: 16px;
}
.left-panel-active {
    transform: translateX(0%) !important;
}

#center-panel {
    width: 1080px;
    height: 100vh;
    transition: 0.5s;
}

.center-panel-active{
    transform: translateX(30%);
}



#content {
    transition: 0.5s;
    display: flex;
    flex-direction: row;
}

.content-active {
    transform: translateX(30%);
}

#pokemon-pick-buttons{
    transition: 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
}


#pokemon-pick-buttons * {
    transition: 0.3s;
}

#pokemon-pick-buttons > *:last-child {
    margin-bottom: 0;
}
.pokemon-pick-name{
    opacity: 1;
    text-align: left;
    font-size: 0.9rem;
    transition: 0.5s;
    font-weight: bold;
    text-transform: uppercase;
}
.pokemon-pick-types{
    display: none;
    flex-direction: row;
    position: absolute; 
    bottom: -6px;
    left: 24px;
}

.pokemon-pick-evs{
    display: flex;

    flex-direction: row;
    position: absolute; 
    bottom: 0px;
    right: 32px;
    font-weight: bold;
    font-size: 12px;
}
.pokemon-pick-evs > span{
    margin-left: 16px;
    height: 15px;
}
.pokemon-pick-types > img{
    width: 20px !important;
}

.hp{
    color: #c2ffc2;
}
.atk{
    color: #ff9e9e;
}
.def{
    color: #964b00;
}

.spa{
    color: #ffd1ff;
}
.spd{
    color: #F4EA56;
}
.spe{
    color: #dbf6ff;
}

.pokemon-pick-btn{
    display: flex;
    flex-direction: column;
    background-image: "../";
    background-color: #1d1d1d;
    width: 280px;
    height: 100px;
    border-radius: 32px;
    padding: 2px 8px 8px 8px;
    border: 0px;
    transition: 0.3s;
    overflow: hidden;
    opacity: 0.8;
    position: relative;
    left: 0px;
    margin-bottom: 16px;
}
.new-pokemon-btn {
    width: 120px;
    height: 24px;
}
.new-pokemon-btn:hover {
    width: 160px;
    height: 24px;
}

.new-pokemon-btn#pokemon-picked-btn{
    width: 180px;
    height: 24px;
}

.new-pokemon-btn:nth-of-type(n+2) {
    display: none;
}


.pokemon-pick-btn .pokemon-info-item{
    position: absolute;
    left: 74px;
    top: 58px;
    z-index: 1;
}

.pokemon-pick-btn-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.pokemon-pick-btn-content{
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 4px;
    justify-content: space-between;
    transition: 0.5s;
}


.pokemon-pick-btn:hover{
    opacity: 1;
}
#pokemon-picked-btn:hover{
    opacity: 1;
}

#pokemon-picked-btn .pokemon-pick-name{
}
.pokemon-pick-btn .pokemon-pick-name{
    line-height: 34px;
    margin-right: 24px;
    z-index: 1;
}

#pokemon-picked-btn .pokemon-pick-name, .pokemon-pick-btn:hover .pokemon-pick-name{
    opacity: 1;
}

#pokemon-picked-btn{
    margin-top: 2px;
    margin-bottom: 18px;
    position: relative;
    height: 36px;
    width: 240px;
    left: -0px;
    opacity: 0.9 !important;
    border-color: transparent;
    background-color: #1d1d1daa;
}

#pokemon-picked-btn .pokemon-info-item{
    opacity: 0;
}

#pokemon-picked-btn .pokemon-pick-btn-content{
    top: -16px;
}
#pokemon-picked-btn .pokemon-pick-types{
    position: relative;
    top: -16px;
    right: -4px;
    opacity: 0;
}

.top-buttons{
    display: flex;
}

#search-filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    height: 100%;
}



#search-filters select{
    border-radius: 32px;
    font-size: 0.9rem;
    width: 180px;
    height: 48px;
    background-color: #1d1d1d;
    border: none;
    padding-left: 4px;
    margin-top: 8px;
}
.horizontal-line{
    margin-top: 12px;
    margin-bottom: 8px;
    margin-left: 20px;
    width: 80%; 
    height: 1px; 
    background-color: #4d4d4d;
    border-radius: 12px;
}

.section-name{
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}


select{
    padding-left: 3px;
}




.pokepaste-show {
    width: 360px !important;
}