#search-input {
    all: unset;
    padding: 0 8px;
    border-radius: 16px;
    width: 240px;
    border: none;
    background-color: #1d1d1d;
    border: 1px solid #4d4d4d;
    height: 32px;
    font-size: 0.8rem;
    transition: 0.3s;
}


.teambuilder-results {
    padding: 2px 0px 10px 0px;
}

.teambuilder-results ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.current-result {
    background-color: #535353;
}

.result {
    font-size: 14px;
    height: 8px;
    list-style: none;
    margin: 0;
    display: flex;
    clear: both;
    word-wrap: normal;
    justify-content: center;
    align-items: center;
    padding: 1px 0 0 0;
    margin: 2px 0;
    opacity: 0.3;
    overflow: hidden; /* Обрезает всё, что выходит за пределы */
    text-overflow: ellipsis; /* Для текста (если нужно) */
    white-space: nowrap; /* Не даёт переносить строки */
    
    display: none;
    animation: result-hide 0.25s ease-in;
}

@keyframes result-show {
    0% {
        display: flex;
        height: 32px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: 36px;
        display: flex;
    }
}

@keyframes result-hide {
    0% {
        display: flex;
        height: 36px;
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0;
        display: none;
    }
}


.result-show {
    height: 36px;
    display: flex;
    opacity: 1;
    animation: result-show 0.25s ease-in;
}

.result-show.active a {
    border: 1px solid #535353;
}

.result a {
    display: flex;
    width: 98%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.25s;
    border: 1px solid transparent;
    font-size: 12px;
    opacity: 0.9;
}

.result a:hover {
    opacity: 1;
    background-color: #535353;
    border: 1px solid #535353;
}

.teambuilder-results li:has(h3) {
    height: 24px;
}
.result-pokemon-tier{
    width: 40px;
    text-align: center;
}
.result-pokemon-icon{
    width: 50px;
    display: flex;
    justify-content: center;
}

.result-pokemon-types {
    width: 100px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
 }

.result-pokemon-types img{
   width: 24px;
}

.result-pokemon-name {
    width: 200px;
    text-align: left;
}

.result-item-desc{
    width: 720px;
    text-align: left;
}

.result-move-desc{
    width: 430px;
    text-align: left;
}

.result-move-power{
    width: 60px;
    text-align: center;
}

.result-move-pp{
    width: 50px;
    text-align: center;
}

.result-move-acc{
    width: 60px;
    text-align: center;
}

.result-move-cat{
    width: 60px;
    text-align: center;
}

.result-move-type{
    width: 40px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
}


.result-pokemon-stat, .result-pokemon-bst, .result-pokemon-bst-sort, .result-pokemon-stat-sort  {
    width: 36px;
    text-align: center;
}
.result-pokemon-abilities-sort  {
    width: 320px;
}
.result-pokemon-types-sort  {
    width: 120px;
}

.result-pokemon-name-sort  {
    width: 250px;
}

.result-pokemon-abilities, .result-pokemon-ha {
    width: 170px;
    text-align: center;
}

.result-sort {
    background-color: #2e2e2e;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.result-sort button{
    border: none;
    height: 100%;
    font-size: 12px;
    background-color: #2e2e2e;
    color: white;
    border-radius: 4px;
    transition: 0.3s;
}
.result-sort button:hover{
    cursor: pointer;
    background-color: gray;
}


.result h3 {
    width: 100%;
    color: #f1f1f1;
    text-shadow: 1px 1px 0 #282b2d;
    border-right: none;
    margin: 0 0 0 -1px;
    text-align: center;
    padding: 12px 8px;
    font-family: Verdana,sans-serif;
    font-size: 12pt;
    height: auto;
}
.active-filters {
    display: flex;
    padding: 4px 16px;
    gap: 4px;
}

.active-filter {
    padding: 6px 32px 6px 6px;
    border-radius: 36px;
    background-color: #2e2e2e;
    width: fit-content;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.25s;
}

.active-filter img {
    width: 24px;
    margin-right: 8px;
}

.active-filter:hover{
    cursor: pointer;
    background-color: #3e3e3e;
}