.tab {
    display: flex;
    overflow: hidden;
    border-radius: 16px 16px 0px 0px;
    padding: 8px 0;
}

#tabs2 .tab {
    margin-top: 48px;
}

.tab button {
    display: flex;

    opacity: 0.7;
    border-radius: 32px;
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 16px;
    align-items: center;
    transition: 0.3s;
    height: 42px;
    margin-left: 4px;
    width: auto;
    border: 0.5px solid transparent;
}

#Pokepaste {
    position: absolute;
    z-index: 10;
    width: 40px;
    height: 40px;
    overflow: hidden;
    transition: 0.5s;
    text-align: left;
    background-color: transparent;
    border: none;
    left: 180px;
}


#Pokepaste:hover {
    width: 320px;
    height: 200px;
    border-radius: 24px;
    transition: 0.3s;
    border: transparent;
}

#Pokepaste .pokemon-info-item {
    position: absolute;
    left: 8px;
    top: 8px;
    transition: 0.3s;
}

#current-pokemon-pokepaste {
    background-color: #222222;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

#Pokepaste:hover #current-pokemon-pokepaste {
    opacity: 1;
}

#Pokepaste:hover .pokemon-info-item {
    right: 16px;
}

#current-pokemon-pokepaste h4 {
    margin-bottom: 8px;
}

#current-pokemon-pokepaste-input {
    all: unset;
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: inherit;
    color: #ccc;
    resize: none;
    border: none;
    overflow: hidden;
}


.tab button:hover {
    border: 0.5px solid gray;
    background-color: #222222 !important;
}

.tablinks.active-tab {
    border: 0.5px solid gray;
    opacity: 1 !important;
    background-color: #2a2a2a !important;
}

.tab button.active {
    background-color: #2e2e2e;
}

#tabs2 .tab button {
    width: 50%;
}


.tabcontent,
.tabcontent2 {
    transition: 0.3s;
    border-top: none;
    border-radius: 0px 16px 16px 16px;
    background-color: #1d1d1d;
    height: 670px;
}

.tabcontent2 {
    border-radius: 0px 0px 16px 16px;

}


.tab-container {
    height: 500px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    border-radius: 16px 16px 16px 16px;
    background-color: #1d1d1d;
}

.tab-container-in {
    display: flex;
    flex-direction: row;
    width: 400%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: left 0.5s;
    /* Добавляем плавный переход */
}

.tab-container-in>div {
    opacity: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tab-item.active-tab {
    opacity: 1;
}

.defaultOpen {
    display: block;
}



.tab-item {
    border: none;
    width: 100%;
    float: left;
}


.tab-search-container {
    display: flex;
    align-items: center;
    width: 50%;
}

.tablinks-container {
    justify-content: end;
    display: flex;
    border-radius: 16px 16px 16px 16px;
    width: 60%;
}


#TeamsInfo-container {
    width: 280px;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}

#TeamsInfo-tab {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    border-radius: 32px;
    --tab-position: 0;
}

#TeamsInfo-tab button {
    position: relative;
    width: calc(100% / 3);
    padding: 12px 16px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    top: 0;
}

#TeamsInfo-tab::after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: var(--tab-position);
    width: calc(100% / 3);
    height: 1px;
    background: #3d3d3d;
    transition: left 0.3s ease-in-out;
    border-radius: 16px;
}

#TeamsInfo-tab button.active-tab {
    color: #3d3d3d;
}

#TeamsInfo-tab button:nth-child(1).active-tab~ ::after {
    left: 0;
}

#TeamsInfo-tab button:nth-child(2).active-tab~ ::after {
    left: calc(100% / 3);
}

#TeamsInfo-tab button:nth-child(3).active-tab~ ::after {
    left: calc(200% / 3);
}

#TeamsInfo-tab button:hover {}

#TeamsInfo-container-in {
    display: flex;
    flex-direction: row;
    width: 300%;
    height: 100%;
    position: absolute;
    left: 0;
    transition: left 0.5s;
}

#TeamsInfo-container-in>div {
    opacity: 0.1;
    transition: 0.3s;
}

#TeamsInfo-container-in .active-tab {
    opacity: 1;
}

#TeamsInfo-container:has(.active-tab#TeamPasteTab) {
    opacity: 1;

    width: 400px;
}


#TeamsInfo-container:has(.active-tab#TeamTab) {
    opacity: 1;

    width: 280px;
}

#TeamsInfo-container:has(.active-tab#TeamsTab) {

    opacity: 1;

    width: 400px;
}





#TeamsInfo-container:has(.active-tab#TeamsTab) {
    opacity: 1;
}

#TeamTab {
    display: flex;
    justify-content: center;
}

#playerteam-input-text {
    all: unset;
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: inherit;
    color: #ccc;
    resize: none;
    border: none;
    overflow-y: scroll;
}

#TeamPasteTab .pokepaste {
    height: 100%;
}

#pokepaste-save {
    position: absolute;
    top: 4px;
    right: 4px;
    background: transparent;
    border: 0.3px solid white;
    border-radius: 16px;
    padding: 12px 24px;
}

#saveteambutton {

    background: transparent;
    border: transparent;
    background-color: #222222;
    border-radius: 16px;
    position: absolute;
    padding: 8px 24px;
    bottom: 0px;
    right: 440px;
}

.grouplinks-container{
    display: flex;
}
.grouplink {}


.tab button:not(.grouplink-item-icon) .pokemon-info-item {
    margin-left: 0px;
    margin-right: 8px;
}

.grouplink-item-icon {
    padding: 8px !important;
    width: 42px;
}

.grouplink-item-icon .pokemon-info-item {
    margin-left: 0;
    scale: 1.1;
}

.active-group {

    border: 0.5px solid gray !important;
    opacity: 1 !important;
    background-color: #2a2a2a !important;
}


#StatsTab .current-pokemon-stat-names p{
    width: 120px;
}