#team-pokemon-hint{
    display: none;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 8px;
    opacity: 0.5;
    height: 32px;
    text-align: center;
    line-height: 32px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000;
    z-index: 2;
    background-color: #1d1d1d;
}

#active-move{
    color: #888888;
}

.team-pokemon-moves span{
    color: white;
    background-color: transparent;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    transition: 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.team-pokemon-moves span img{
    margin-left: 2px;
    height: 24px;
}
.team-pokemon-top span {
    width: 160px;
}
.team-pokemon-add-info , .team-pokemon-moves{
    input, select {
        background-color: #2e2e2e !important;
        border: 1px solid #4d4d4d;
        color: white;
        background-color: #2e2e2e;
        transition: 0.3s;
        display: flex;
        flex-direction: row;
        height: 24px;
        padding: 0 6px;
        width: 150px;
        border-radius: 32px;
        font-size: 0.8rem;
    }
}



.team-pokemon-moves{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 200px;
    gap: 10px;
}
.team-pokemon-moves span{
    width: 188px;
    margin: 0;
}


.team-pokemon-add-info .types {
    color: white;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 32px;
}

.team-pokemon-add-info input {
    width: 120px;
    padding-left: 8px;
}
.team-pokemon-add-info select {
    width: 150px;
    height: 26px;
}

.team-pokemon-add-info{
    gap: 10px;
    width: 240px;
    display: flex;
    flex-direction: column;
}

.team-pokemon-add-info > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 204px;
}

.team-pokemon-add-info label{
    font-size: 12px;
    margin-right: 4px;
    width: 50px;
    text-align: right;
}

.types img{
    width: 24px;
}

.pokemon-info-item {
    image-rendering: pixelated;
    display: block;
    margin-left: 4px;
    width: 24px;
    height: 24px;
}
.item-info > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
}








  
.evs input, .ivs input {
    padding: 0px 6px;
}

.evs{
    display: flex;
    flex-direction: column;
}

.evs div{
    display: flex;
    flex-direction: row;
}


.text-input-panel{
    display: flex;
    justify-self: flex-end;
}


.evs input{
    width: 42px !important;
}

.ivs input {
    width: 34px !important;
}


.stat-progress-bars {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

progress.stat-progress {

    background-color: transparent;
    color: blue;
}

.stat-progress {
    width: 190px;
    height: 12px;
    border-radius: 5px;
    overflow: hidden;
}

.stat-progress::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 5px;
}

.stat-progress::-webkit-progress-value {
    background-color: #4CAF50;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.stat-progress::-moz-progress-bar {
    background-color: #4CAF50;
    border-radius: 5px;
}

.team-pokemon-pokepaste {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
}
.team-pokemon-pokepaste-save{
    color: white;
    position: absolute;
    right: 0.5%;
    height: 30px;
    width: 50px;
    opacity: 0.8;
    border-radius: 12px;
    border: 1px solid gray;
    transition: 0.3s;
    background: transparent;
}
.team-pokemon-pokepaste-save:hover{
    opacity: 1;
}
.team-pokemon-pokepaste-input{
    all: unset;
    border: none;
    width: 100%;
    font-size: 0.8rem;
    padding: 8px 8px;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color: inherit;
    color: #ccc;
    resize: none;
}


.team-pokemon-info{
    font-size: 12px;
    height: 100%;
    border-radius: 32px;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    padding: 25px 20px;
}

.vertical-line {
    width: 2px; 
    height: 50%; 
    background-color: #4d4d4d;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 12px;
  }

.team-pokemon-info > div:not(:first-child){
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-pokemon-info > div:not(.vertical-line){
    height: 100%;
}
.team-pokemon-sprite{
    display: flex;
    width: 150px;
    box-sizing: border-box;
    padding: 8px;
    image-rendering: pixelated;
    min-width: 150px;
    min-height: 150px;
    transition: 0.3s;
}

.team-pokemon-sprite:hover{
    background-color: #222222;
    cursor: pointer;
    border-radius: 32px;
}


.team-pokemon-sprite > div {
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.pokemon-icon {
    image-rendering: pixelated;
    width: 40px;
    transition: 0.3s;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
