body{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    display: flex;
    flex-direction: column;
    right: 0;
    overflow-y: hidden;
    color: white;
}

main{
    width: 100%;
    display: flex;
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

#right-menu{
    position: relative;
    border-right: 1px solid rgb(50, 50, 50);
    overflow-y: scroll;
    height: 100%;
    width: 375px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

#right-menu a{
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
    line-height: 48px;
    height: 48px;
    border: 1px solid transparent;
    width: 90%;
    border-radius: 8px;
    padding-left: 8px;
    transition: 0.3s;
}

.current-page {
    background-color: rgb(36, 36, 36) !important;
}
#right-menu a:first-child{
    margin-top: 8px;
    margin-bottom: 16px;
}

#right-menu a:hover{
    background-color: rgb(36, 36, 36);
}

#main{
    top: 71px;
    bottom: 0;
    left: 375px;
    right: 0;
    position: absolute;
    overflow-y: scroll;
    font-size: 18px;
    width: 1615;
    height: auto;
    box-sizing: border-box;
}

#main > div {
    padding-left: 16px;
    box-sizing: border-box;
}

#content{
    display: flex;
    position: absolute;
    right: 0;
    width: 500px;
}
#pokemon-cards {
    border-radius: 32px;
    width: 98%;
    border-bottom: 1px solid rgb(36, 36, 36);
    border-top: 1px solid rgb(36, 36, 36);
    display: flex;
    flex-wrap: wrap;
}
.pokemon-card{
    border: 1px solid transparent;
    transition: 0.3s;
    padding: 8px 0;
    border-radius: 32px;
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

#noneResult{
    padding-left: 16px;
}

.pokemon-card span{
    position: relative;
    bottom: 0;
}

.pokemon-sprite {
    display: flex;
    width: 120px;
    box-sizing: border-box;
    padding: 4px;
    image-rendering: pixelated;
    min-width: 120px;
    min-height: 120px;
}

.pokemon-sprite>div {
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#tiername{
    border-bottom: 1px solid rgb(50, 50, 50);
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
}

#tiername img{
    width: 80px;
}

#tiername h3{
    margin-left: 16px;
}

main ol li{
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: left;
    padding: 8px 8px;
    line-height: 24px;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: 0.3s;
}
main ol li:hover{
    background-color: rgb(28, 28, 28);
    cursor: pointer;
}

.light-theme main ol li:hover{
    background-color: rgb(228, 228, 228);
}
main input {
    border: 1px rgb(48, 48, 48);
    color: white;
    font-size: 19px;
    width: 240px;
    max-width: 90%;
    height: 40px;
    padding: 4px;
    padding-left: 8px;
    background-color: rgb(28, 28, 28);
    border-radius: 6px;
    transition: 0.3s;
    margin-bottom: 16px;
}
main input:focus{
    border: none;
}

.visiblea{
    
}

.search-input {
    width: 90%;
    padding-right: 25px; /* Добавляем небольшой отступ справа для размещения нашего крестика */
    position: relative; /* Устанавливаем позицию relative, чтобы позиционировать псевдоэлемент */
}

/* Псевдоэлемент для крестика */
.search-input::after {
    content: "\2715"; /* Юникод символ крестика (✕) */
    position: absolute; /* Позиционируем относительно родительского элемента */
    top: 50%; /* Положение по вертикали на середину */
    transform: translateY(-50%); /* Центрируем вертикально */
    cursor: pointer; /* Устанавливаем курсор в виде указателя */
    color: gray; /* Цвет крестика */
}

/* Изменение стиля крестика при наведении */
.search-input:hover::after {
    color: red; /* Изменяем цвет крестика при наведении */
}


#close-menu{
    display: none;
    top: 4px;
    right: 0;
    background-color: transparent;
    border: none;
    width: 45px;
    height: 40px;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px;
    transition: 0.5s;
    opacity: 0.7;
}
#close-menu:hover{
    opacity: 1;
}

#close-menu .button-line{
    transition: 0.3s;
    background-color: gray;
    width: 100%;
    height: 5px;
    border-radius: 32px;
}

@media (max-width: 960px){
    #main > div{
        padding-left: 8px;
    }
    .pokemon-card{
        width: 130px;
        font-size: 12px;
    }
}
.right-menu-show{
    left: 0 !important;
}
@media (max-width: 480px){
    #right-menu{
        left: -100%;
        background-color: rgb(20, 20, 20);
        position: absolute;
        width: 100%;
        z-index: 1;
        box-sizing: border-box;
        transition: 0.5s ease-in-out;
        border-right: none;
    }
    #close-menu{
        display: flex;
    }

    #main {
        left: 0;
    }
}

.tier-img{
    margin-right: 12px;
    width: 48px;
}

.line{
    width: 90%;
    height: 2px;
    border-radius: 30%;
    background-color: rgb(36, 36, 36);
}


.light-theme #right-menu {
    
    border-right: 1px solid rgb(220, 220, 220);
}

.light-theme #pokemon-cards {
    border-bottom: 1px solid rgb(220, 220, 220);
    border-top: 1px solid rgb(220, 220, 220);
}

.light-theme #tiername{
    border-bottom: 1px solid rgb(220,220, 220);
}

.light-theme #right-menu{
    transition: 0.3s;
    background-color: white;
}
