* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

body {
    overflow-y: hidden;
    height: 100vh;
}


.pokemon-image-container {
    margin-left: 16px;
    display: flex;
    width: 170px;
    box-sizing: border-box;
    padding: 8px;
    image-rendering: pixelated;
    min-width: 170;
    min-height: 170px;
}

#pokemon-image {
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.left-menu {
    left: -415px;
    background-color: transparent;
    z-index: 10;
    position: absolute;
    transform: translateX(0px);
    border-radius: 6px;
    box-sizing: border-box;
    width: 375px;
    top: 0;
    height: 100%;
    transition: 1s ease-in-out;
}

.left-menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #3b3b3b;
    flex: 0 0 auto;
    height: 6%;
    width: 430px;
}
.left-menu-top div{
    width: 416px;
}

.left-menu-main {
    display: flex;
    flex-direction: column;
    height: 94%;
    width: 430px;
    background-color: #3b3b3b;
    transition: transform 1s;
    border-radius: 5px;
    flex: 1;
}


.pokemons-list {
    overflow-y: scroll; /* или scroll */
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    height: 99%;
    width: 100%;
}

.left-menu-hidden{
    left: -375px;
}

.pokemons-list button {
    border: none;
    color: white;
    background-color: #2e2e2e;
    border: 2px solid #353535;
    border-radius: 4px;
    border-left: none;
    border-top: none;
    border-right: none;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pokemons-list ul li button {
    width: 410px;
    height: 36px;
}

.main {
    top: 68px;
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    height: auto;
    position: absolute;
    overflow-y: scroll;
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}


.xzpoka {
    width: 14px;
    height: 100%;
}

.open-button {
    width: 50px;
    border: none;
    color: white;
    background-color: #3b3b3b;
    border-radius: 8px;
    border-left: none;
    margin: 0;
    border-top: none;
    border-right: none;
    transition: 0.3s;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.open-button:hover {
    background-color: rgb(55, 55, 55); /* Цвет фона для трека прокрутки */
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search input{
    width: 195px;
    padding: 2px 4px;
}

.search input, select {
    border: 1px solid #4d4d4d;
    color: white;
    background-color: #2e2e2e;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
select{
    padding: 2px 0px;
}

.search input:hover, select:hover {
    background-color: #333333;
}

.pokemon-icon {
    width: 40px;
    transition: 0.3s;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.pokemon-icon img {
    width: 20px;
}

.search button:hover{
    transform: scale(1.1);
}

.pokemon-name {
    text-align: left;
    width: 200px;
}

.pokemon-points {
    text-align: center;
    width: 50px;
}
.pokemon-stat {
    text-align: center;
    width: 50px;
}


.pokemon-types {
    width: 75px;
}


.left-menu .pokemons-list button:hover {
    background-color: #3b3b3b; /* Цвет фона для трека прокрутки */
}

#type-img {
    width: 32px;
}

.pokemon-info {
    width: 100%;
    height: 50%;
    padding: 0;
}

.pokemon-forms-pages {
    display: flex;
    flex-direction: row;
    margin-left: 4px;
    margin-top: 24px;
    align-items: center;
}

.pokemon-forms-pages > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.left-menu a {
    text-decoration: none;
}

.stat-bar {
    height: 14px;
}


:root {
    --data-value: 0;
}

.progress {
    z-index: -5;
    height: 9px;
    transition: 0.5s ease;
    border-radius: 3px 1px 1px 3px;
    animation: progress-bar 1.5s forwards;
    border-top: 3px solid white;
    border-bottom: 2px solid white;
    width: 0px;
    opacity: 0.3;
}


@keyframes progress-bar {
    100% {
        opacity: 1;
        width: calc(var(--data-value) / 255 * 255px);
    }
}

.stat-value {
    width: 50px;
    text-align: right;
    margin-right: 4px;
    font-weight: bold;
}

.stat-name {
    width: 80px;
    text-align: right;
}

.pokemon-image-container,
.pokemon-evolutions {
    margin-right: 80px;
}


.pokemon-stats>div {
    margin-bottom: 4px;
    height: 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 390px;
}

.pokemon-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    max-width: 390px;
}

.pokemon-info-top {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}


.block-inline {
    display: inline-block;
    padding: 2px 16px 2px 8px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.block {

    width: 95%;
    max-width: 1000px;
    background-color: rgb(29, 29, 29);
    border: 1px solid #424242;
    border-radius: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0.5em 1em;
    margin: 1em 0;
}

.block>div {
    width: auto;
    margin-top: 12px;
    margin-bottom: 8px;
    padding: 0px 8px 8px 8px;
}

.pokemon-evolutions div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-evolutions {
    flex-direction: column;
    display: flex;
    max-width: 340px;
    justify-content: center;
    align-items: center;
    margin-right: 0;
}



.pokemon-evolutions h4,
.pokemon-evolutions p, .pokemon-evolutions a {
    width: 180px;
    text-align: left;
    font-size: 15px;
}

.pokemon-evolutions p, .pokemon-forms-pages p{
    font-weight: bold;
    color: rgb(182, 182, 182);
}


.pokemon-evolutions a , .pokemon-forms-pages a{
    color: white;
}

.pokemon-evolutions a:hover,  .pokemon-forms-pages a:hover{
    text-decoration: underline;
}


.pokemon-first-evo , .pokemon-second-evo , .pokemon-third-evo {
    display: flex;
    flex-direction: column;
}

.pokemon-first-evo{
    margin-left: -80px;
}
.pokemon-second-evo{
    margin-left: 0px;
}
.pokemon-third-evo{
    margin-left: 80px;
}

.moveset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.moveset table {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.moveset-table-value {
    width: 240px;
    padding: 0px 16px 4px 4px;
}

.moveset-table-value-name {
    color: #ccc;
    padding: 0px 16px 4px 4px;
    width: 80px;
    text-align: right;
}

select.type-sort {
    width: 80px;
}

select.type-sort option {
    background-repeat: no-repeat; /* Отключаем повторение фонового изображения */
    background-size: 8px; /* Размер фонового изображения */
    height: 40px;
}

.points-sort {
    width: 50px;
}

.stat-sort{
    width: 50px;
}

.ability-filter {
    width: 180px;
    margin-bottom: 4px;
}

.move-filter{
    display: none;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

a{
    text-decoration: none;
}

#pokemonTable {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    height: 36px;
    font-size: 13px;
}

#pokemonTable tr,
#pokemonTable td {
    height: 36px;
    max-height: 36px;
}



#pokemonTable tr.button-like {
    position: relative;
    cursor: default;
    background-color: #2e2e2e;
    transition: 0.3s;
    border-radius: 4px;
    transform: translateX(0px);
}
  
#pokemonTable tr.button-like:hover {
    background-color: #3b3b3b;
    transform: translateX(4px);
}

#pokemonTable tr {
    border: none;
    color: white;
    background-color: #2e2e2e;
    border: 2px solid #353535;
    border-left: none;
    border-top: none;
    border-right: none;
    transition: 0.3s;
}

@media (max-width: 720px) {
    .pokemon-info{
        font-size: 70%;
        padding: 4px;
    }
    .pokemon-evolutions p, .pokemon-evolutions a{
        font-size: 100%;
    }
    .pokemon-info-top {
        flex-direction: column;
        margin-top: 0;
    }
    .pokemon-evolutions, .pokemon-stats {
        width: 100%;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

#close-left-menu{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}